<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Foodmap</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../css/main-styles.css">
  </head>
  <body>
    <!-- Main -->
    <main>
       <!--Header-->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
          <!-- Page header -->
          <div class="foodmap">
            <h2>Foodmap</h2>
          </div>
          <!-- Mapa -->
          <div class= "col-lg-12 col-md-12 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3762.8172064204573!2d-99.16530288552585!3d19.420302386891272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2smx!4v1516495535512" width="350" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Sección con Menú desplegable -->
  <section>
    <div class="container">
      <div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Se me antoja...
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Fastfood</a>
          <a class="dropdown-item" href="#">Asiática</a>
          <a class="dropdown-item" href="#">Saludable</a>
          <a class="dropdown-item" href="#">Postres</a>
          <div role="separator" class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">A domicilio</a>
        </div>
      </div>
      <input type="text" class="form-control" aria-label="Text input with dropdown button">
    </div>
  </div>
  
   <!--Imagenes--> 
  <section>
    <div class="container foodpics">
      <div class="row">
        <div class="col-md-12 col-md-offset-4  col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
          <img src="../assets/images/burger.jpg" alt="burger">
          <img src="../assets/images/pizza.jpg" alt="pizza">
          <img src="../assets/images/tacos.jpg" alt="tacos">
          <img src="../assets/images/light.png" alt="light">
          <img src="../assets/images/coffee_and_desserts.jpg" alt="dessert">
          <img src="../assets/images/bentobox.jpg" alt="asiatic"></div>
      </div>
    </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>